<strong>Olá, {{ student }}</strong>
<p>Aqui está a resposta para a sua pergunta, confira os detalhes abaixo:</p>
<p>
  <strong>Question:</strong> {{ question }} <br />
  <strong>Question-Date:</strong> {{ created_at }} <br />
  <strong>Answer:</strong> {{ answer }} <br />
  <strong>Answer-Date:</strong> {{ answer_at }} <br/>
</p>
