<strong>Olá, {{ student }}</strong>
<p>Seja bem vindo(a) à Gympoint!!!</p>
<p>
  <strong>Plan:</strong> {{ plan }} <br />
  <strong>Start Date:</strong> {{ start_date }} <br />
  <strong>End Date:</strong> {{ end_date }} <br />
  <strong>Total Price:</strong> R${{ price }}.00 <br/>
</p>
